/* Coolors Exported Palette - coolors.co/d7e8ba-fabc3c-f1db4b-f7edf0-7c6354 */

/* HSL */
$color1: hsla(82%, 50%, 82%, 1);
$color2: hsla(40%, 95%, 61%, 1);
$color3: hsla(52%, 86%, 62%, 1);
$color4: hsla(342%, 38%, 95%, 1);
$color5: hsla(23%, 19%, 41%, 1);

/* RGB */
$color1: rgba(215, 232, 186, 1);
$color2: rgba(250, 188, 60, 1);
$color3: rgba(241, 219, 75, 1);
$color4: rgba(247, 237, 240, 1);
$color5: rgba(124, 99, 84, 1);
$color1: rgba(242, 201, 21, 1);
$color2: rgba(219, 207, 176, 1);
$color3: rgba(217, 221, 146, 1);
$color4: rgba(191, 200, 173, 1);
$color5: rgba(144, 180, 148, 1);
$color6:rgba(48, 43, 41,1);

$color1: rgba(244, 232, 117, 1);
$color2: rgba(224, 184, 65, 1);