/* 
 font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
*/

body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0%;
}


@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/* works page design */

.headpart {
    width: 100vw;
    height: 70vh;
    margin: 0;
    padding: 0;
    background-image: url(../images/projectback3.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 150px));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 150px));
    display: table;
}


.projecthead {
    display: table-cell;
    vertical-align: middle;
    opacity: 0;
    text-align: center;
    position: relative;
    left: 0em;
    top: 1em;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
.projectsubdes{
    font-size:13px;
}
@media(max-height:600px) {
    .projecthead {
        margin-bottom: 100px;
    }
    .headpart {
        height: 90vh;
    }
    .workpage {
        margin: -150px auto 0;
    }
    .projectsubdes{
        font-size:10px;
    }
}

.projectmain {
    /* display: table-cell;
    vertical-align: middle; */
    color: rgba(48, 43, 41,1);
    font-size: 5em;
}

@media(max-width:600px) {
    .projectmain {
        font-size: 35px;
    }
}
.morebtn {
    background-color: rgba(48, 43, 41,1);
    border: none;
    color: white!important;
    border-radius: 5px;
    position: relative;
    left: 0em;
    top: -2.5em;
}
.morebtn:hover {
    background-color: transparent;
    border: 2px solid rgba(48, 43, 41,1);
    color: rgba(48, 43, 41,1)!important;
}

.morebtn a {
    color: white!important;
    text-decoration: none;
}

.morebtn:hover, .morebtn:hover a {
    background-color: transparent;
    color: rgba(48, 43, 41,1)!important;
    text-decoration: none;
}

.workpage {
    margin: -150px auto 50px;
    border-radius: 10px 10px 10px 10px;
    background: linear-gradient(0deg, #E5E5E5 0%, #fff 100%);
    box-shadow: 0 4px 15px 0 rgba(124, 99, 84, 1);
    position: relative;
    padding: 20px 0 70px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    height: 100%;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
}

.card {
    box-shadow: 0 4px 10px 0 rgba(116, 79, 168, 0.75);
    height: 100%;
}

.imgcard {
    width: 100%;
}

.imgwrapper {
    position: relative;
}

.descard {
    height: 100%;
    width: 100%;
}

.workimg {
    max-width: 100%;
    overflow: hidden;
}

.workwrapper {
    display: grid;
    padding: 40px;
    /* grid-auto-rows: minmax(100px, auto); */
    /* grid-gap: 20px; */
    /* grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto); */
    /* grid-template-columns: 40% 40%;
    grid-template-rows: 300px 300px 300px; */
    /* grid-template-rows: 430px; */
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: minmax(100px, auto); */
    column-gap: 40px;
    row-gap: 40px;
}

@media(max-width:800px) {
    .workwrapper {
        display: grid;
        padding: 40px;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(auto, auto);
        column-gap: 40px;
        row-gap: 40px;
    }
}

.projectdescription {
    padding: 20px;
}

.projectarea {
    font-size: 1.3rem;
    color: rgba(48, 43, 41, 1);
    font-weight: 700;
}

.projectduration {
    font-size: 1rem;
    color: rgba(48, 43, 41, 1);
}

.projectname {
    font-size: 1.4rem;
    font-weight: 700;
}

.projecttech {
    color: #6253e1;
    font-size: 1.2rem;
}

.projecttech:hover {
    color: rgba(250, 188, 60, 1);
    font-weight: 700;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.imgcard:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .7);
}

.imgcard:hover {
    top: 90px;
}

.buttonsrc {
    position: absolute;
    width: 100%;
    left: 0;
    top: 40%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    margin-bottom: 10px;
}

.buttonsrc a {
    width: 30%;
    padding: 10px 30px;
    text-align: center;
    color: white;
    border: solid 3px white;
    z-index: 1;
    text-decoration: none;
    font-size: 13px;
}


@media(max-width:600px) {
    .buttonsrc a {
        padding: 5px 5px;
    }
}

.buttonsrc a:hover, a:focus {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: font-size 0.5s ease;
}


.imgcard:hover .buttonsrc {
    opacity: 1;
}

.imgcard:hover .buttonvideo {
    opacity: 1;
}

.gallerybtn {
    width: 50%;
    height: 20px;
    margin: 5px auto;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    position: absolute;
    left: 25%;
    background-color: black;
    color: white;
    border-radius: 5px;
    float: none;
    border: none;
    margin:0;
}

.gallerybtn i {
    margin-right: 3px;
}

.gallerybtn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: all 0.5s ease;
}

.mobilewrapper {
    width: 150px;
    height: 100%;
    position: absolute;
    right: 0;
    margin-top: -110px;
}

.workmobileimg {
    max-width: 100%;
    overflow: hidden;
}

@media(max-width:1000px) {
    .mobilewrapper {
        width: 100px;
        height: 100%;
        position: relative;
        float: right;
        margin-top: -50px;
    }
    .pre{
        display: none;
    }
}

.modal-backdrop {
    z-index: 1040 !important;
}
.modal-dialog {
    margin: 2px auto;
    z-index: 1100 !important;
}.modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
}
